# Node modules and environment files for frontend
/frontend/node_modules/
/frontend/.env.local
/frontend/.next/
/frontend/.turbo/
/frontend/.eslintcache

# Ignore .env files except example
/frontend/.env*
!/frontend/.env.local.example

# Ignore build files for frontend
/frontend/out/
/frontend/build/

# Ignore miscellaneous files
/frontend/.pnp
/frontend/pnpm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/npm-debug.log*
/frontend/.pnp.*
/frontend/.vercel
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
/frontend/D.S_Store
/frontend/*.pem

# Dependencies and environment files for backend (Forge)
backend/cache/
backend/out/
backend/broadcast/*
!/backend/broadcast/.gitkeep

# Ignore lib folder but track submodules
/backend/lib/*
!/backend/lib/.gitkeep
!/backend/lib/forge-std
!/backend/lib/chainlink-brownie-contracts
!/backend/lib/openzeppelin-contracts
!/backend/lib/solmate
!/backend/lib/foundry-devops

# General ignores
.DS_Store
.env
