@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #142330;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #33516b;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide scrollbar for the entire page (html/body) */
html,
body {
    /* For older IE and Edge (internal windows for these browsers) */
    -ms-overflow-style: none;
    /* For Firefox */
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    /* For Chrome, Safari, Opera */
    display: none;
}

/* Hides the scrollbar while keeping scroll functionality */
.no-scrollbar {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, Opera */
}